<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics-google }}"></script>


<!--Custom script, faster than the default one-->

<!-- <link rel="preconnect" as="script" 
  href="https://www.googletagmanager.com/gtag/js?id=YOUR_TRACKING_ID"> -->
  
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.analytics-google }}');
</script>
